/* Body */
body {
  background: var(--color-bg);
  color: var(--color-text);
  padding-top: 65px;
}

/* Espaciados */
.mb-1,
.my-1 {
  margin-bottom: 0.55rem !important;
}

/* Títulos */
h1.h3.text-gray-800 {
  border-bottom: 2px solid var(--color-accent);
  display: inline-block;
  margin-bottom: 10px;
}
