/* Formularios */
form,
form input,
form select,
form textarea,
.card.shadow.mb-4 {
  border-radius: var(--radius-md) !important;
  overflow: hidden;
}

/* Input group */
.input-group > .input-group-prepend > .input-group-text {
  border-radius: var(--radius-md) 0 0 var(--radius-md) !important;
}

.input-group > .form-control {
  border-radius: 0 var(--radius-md) var(--radius-md) 0 !important;
}
