/* Modal */
.modal-backdrop {
  z-index: var(--z-modal-backdrop);
}

.modal {
  z-index: var(--z-modal);
}

.modal-content {
  border-radius: var(--radius-lg);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.9);
}

.modal-backdrop.show {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header,
.modal-footer {
  border-radius: var(--radius-md) !important;
}

/* Header / Footer */
.modal-content {
  border-radius: var(--radius-lg);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.9);
}

.modal-backdrop.show {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* Safari */
  background-color: rgba(0, 0, 0, 0.4); /* opcional */
}

.modal-header,
.modal-footer {
  border-radius: var(--radius-md) !important;
}

.modal-header,
.modal-footer {
  border: none;
  background: transparent;
}

/* Separador sutil */
.modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* Título */
.modal-title {
  font-weight: 600;
  letter-spacing: 0.3px;
}

/* Botón cerrar */
.modal-header .close {
  opacity: 0.7;
  transition: 0.2s;
}

.modal-header .close:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Body */
.modal-body {
  padding: 1.5rem;
}

/* Backdrop (fondo) */
.modal-backdrop.show {
  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* Animación (suave) */
.modal.fade .modal-dialog {
  transform: translateY(-20px) scale(0.95);
  transition: all 0.25s ease;
}

.modal.show .modal-dialog {
  transform: translateY(0) scale(1);
}

/* Modal Overlay (Ingreso hora de salida Thermos/Contenedores) */
#modalOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.custom-modal {
  display: none;
  position: fixed;
  width: 90%;
  max-width: 900px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* SOLO desktop */
@media (min-width: 992px) {
  .custom-modal {
    width: 25%;
    max-width: 500px;
  }
}
