/* Select2 */
/* Select2 Single */
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  border-radius: var(--radius-md) !important;
  height: 38px;
  display: flex;
  align-items: center;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

/* Select2 Multiple */
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
  border-radius: var(--radius-md) !important;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

/* Dropdown */
.select2-dropdown {
  border-radius: var(--radius-md) !important;
}

/* Estado de error */
.select2-container.select2-error .select2-selection--single,
.select2-container.select2-error .select2-selection--multiple {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

/* Estado de foco normal */
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
